<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Your favorite restaurant finder">
  <meta name="theme-color" content="#00adb5">
  <link rel="manifest" href="site.webmanifest">
  <title>Re&#58;staurant</title>
</head>

<body>
  <a href="#content" class="skip">Skip to Content</a>
  <app-bar></app-bar>
  <hero-element></hero-element>
  <main id="app"></main>
  <footer></footer>
</body>

</html>
